<?xml version="1.0"?>
<launch>
    <include file="$(find ropi_tangible_surface)/launch/sensor_launch.launch" />
    <include file="$(find ropi_tangible_surface)/launch/connection.launch" />
    <include file="$(find ropi_tangible_surface)/launch/gripper_server.launch" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="table1_broadcaster" args="0.5305745642185211, -0.6272513246536255, 1.3256145696640015 0 0 0 /kinect2_link /table_origin11 100" /> -->
    <include file="$(find icl_phri_ur5_gripper_bringup)/launch/ur5_with_gripper.launch" />
    
    
    <node pkg="tf" type="static_transform_publisher" name="fixed_broadcaster" args="0 0 0 0 0 0  /base_link /fixed_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.3 0.76 0.15 0 0 0 /table_origin /base_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0 0 0 0.078 -0.02 0 /table_origin /table_origin2 100" />
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0.25 0 3.141592653589793 0 /tool0 /grasp_point 100" />
    <node pkg="tf" type="static_transform_publisher" name="tabel_broadcaster" args="1.14 0 0 0 -3.141592653589793 0 /table_origin2 /cv_origin 100" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="l_iknucle_broadcaster" args="0 0 0 0 0 0 /robotiq_arg2f_base_link /left_inner_knuckle 100" />
    <node pkg="tf" type="static_transform_publisher" name="l_knucle_broadcaster" args="0 0 0 0 0 0 /robotiq_arg2f_base_link /left_outer_knuckle 100" />
    <node pkg="tf" type="static_transform_publisher" name="l_finger_broadcaster" args="0 0 0 0 0 0 /left_outer_finger /left_inner_finger 100" />
    <node pkg="tf" type="static_transform_publisher" name="r_knucle_broadcaster" args="0 0 0 0 0 0 /robotiq_arg2f_base_link /right_outer_knuckle 100" />
    <node pkg="tf" type="static_transform_publisher" name="r_iknucle_broadcaster" args="0 0 0 0 0 0 /robotiq_arg2f_base_link /right_inner_knuckle 100" />
    <node pkg="tf" type="static_transform_publisher" name="r_finger_broadcaster" args="0 0 0 0 0 0 /right_outer_finger /right_inner_finger 100" /> -->
    
</launch>