<?xml version="1.0"?>
<launch>
    <arg name="debug" default="true"/>
    <include file="$(find ropi_tangible_surface)/launch/kinect2_bridge.launch.xml" >
        <arg name="output" value="log"/>
        <arg name="depth_method"      value="opengl"/>
        <!-- Use specific depth processing: default, cpu, opengl, opencl, cuda, clkde, cudakde -->
        <arg name="reg_method"        value="cpu"/>
        <!-- Use specific depth registration: default, cpu, opencl -->
    </include>
    <!-- <include if="$(arg debug)" file="$(find ropi_tangible_surface)/launch/aruco.launch.xml"  >
        <arg name="output" value="log"/>
    </include> -->
    <node pkg="ropi_tangible_surface" type="tf_origin.py" name="publish_table_origin" output="log" respawn="true" respawn_delay="0">
        <param name="~calibrate_origin" type="bool" value="false"/>
    </node>



    <node pkg="rviz" type="rviz" output="log" name="rviz" args="-d $(find ropi_tangible_surface)/rviz/visualization.rviz" />
</launch>
